.home{
    background-image: url(Asset-Tracking-Management.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    font-weight: bold;
    padding: 100px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    
    
    /*margin-top: 100px;
     padding-top: 50px;
    margin-bottom: 100px;*/
    /*border-radius: 50px;*/
}
.home h1{
    background-color: #ffffff73;
    color: black;
    padding: 50px;
    
    
}
.home p{
    color: black;
    font-size: large;
    font-weight: bold;
}